body{
    margin: 0;
    background: goldenrod;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header,footer{
    background: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    gap: 1rem;
}

.logo {
   position: relative;
   width: 200px;
   height: 80px;
}
nav{
    padding: 1rem;
}
nav.links{
    display: flex;
    gap: 1rem;
}
.motto{
    font-style: italic;
    font-size: 1rem;
}
article{
    border: 1px solid gray;
    display: flex;
    gap: 1rem;
}
picture{
    display: flex;
}
article picture img{
    max-width: 400px;
}
article .content{
    display: flex;
    flex-direction: column;
}
@media screen and (width < 500px) {
    header{
        flex-direction: column;
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 80px;
    margin: -40px;
    float: left;
    perspective: 500px;
  }
  
  .card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    backface-visibility: hidden;
  }
  
  .back {
    background: #03446A;
    color: white;
    transform: rotateY( 180deg );
  }
  .back img{
    width: 100px;
  }
